:root {
    --common-color1:#F9FaF8;
    --common-color2:#E5e7eb;
    --common-color3:#1f2937;
    --common-color4:#3882f6;
}
body *{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.nav, .hero {
    background-color: var(--common-color3);
    display: flex;
}
section {
    flex-direction: column;
}
/*Navigation Menu */

header{
    font-size: small;
}
.nav{
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    flex-direction: row;
}
.logo{
    width: 5%;
}
a {
    color: var(--common-color2);
}
.nav div{
    display: block;
    flex-direction: column;
}
.nav ul{
    display: flex;
    flex-direction:row;
}
.nav li{
    list-style:none;
    padding: 1em;
}


/* Top Section */
.hero{
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px;
}

.container{
    width: 45%;
    align-items: center;
    justify-content: center;
}

.hero div{
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: var(--common-color1);
    text-align: right;
}
.hero p{
    color:var(--common-color2);
    font-size: 18px;
    text-align: right;

}

button{
    background-color:var(--common-color4);
    color: var(--common-color2);
    border-radius: 5px;
    padding: .25rem 1.25rem;
    font-weight: 600;
    width: 140px;
    height: 2em;
    align-items: center;
    justify-content: center;
}

.picture-one{
    width: 375px;
    height: 250px;
    padding: 15px;
}
/* Section Three */

.two{
    background-color: var(--common-color1);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.two h2{
    font-size: 36px;
    color: var(--common-color3);
    font-weight: 900;
    width: 100%;
    justify-content: center;
}

.mini {
    flex-direction: column;

}
.mini p{
    width: 140px;
    padding: 0 5px;
    text-align: center;
}
.mini img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    padding: 25px;
}
.description{
    font-size: 12px;
}

/*Section three */
.three{
    background-color: var(--common-color2);
    width: 100%;
    padding: 90px 200px;
    align-items: center;

}
.quotebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}
.quote {
    font-size: 36px;
    font-weight: 280;
    font-style: italic;
    text-align: justify;
    color: #1f2937;
}
.author{
    font-size: 26px;
    align-self: flex-end;   
}

/*Section Four*/
.four {
    background-color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 100px;
}
.cta{
    color: var(--common-color1);
    background-color: var(--common-color4);
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.cta-text{
    text-align: center;
}
h3{
    text-align: center;
}

