:root {
    --common-color1:#F9FaF8;
    --common-color2:#E5e7eb;
    --common-color3:#1f2937;
    --common-color4:#3882f6;
}
body *{
   font-family: Roboto, sans-serif;
    display: flex;
}
.nav,
.hero {
    background-color: var(--common-color3);
}
.nav{
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
section{
    width: 100%;
}
.container1{
    width: 45%;
}
.picture-one{
    width: 40%;
    
}
h1 {
   font-size: 48px;
   font-weight: 900;
   color: var(--common-color1);
}
.hero p{
    color:var(--common-color2);
    font-size: 18px;
}
.logo{
    width: 5%;
    
}

a {
    color: var(--common-color2);
}
li{
    list-style:none;
    padding: 1em;
}
button{
    background-color:var(--common-color4);
    color: var(--common-color2);
    border-radius: 5px;
    padding: .25rem 1.25rem;
    font-weight: 600;
}
