:root {
    --common-color1:#F9FaF8;
    --common-color2:#E5e7eb;
    --common-color3:#1f2937;
    --common-color4:#3882f6;
}
body *{
    font-family: Roboto, sans-serif;
    display: flex;
    max-width: 1500px;
}
.nav, .hero {
    background-color: var(--common-color3);
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: flex;
}

/*Navigation Menu */

.nav{
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}
.logo{
    width: 5%;
}
a {
    color: var(--common-color2);
}
li{
    list-style:none;
    padding: 1em;
}


/* Top Section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 90px;
}
.container{
    display: flex;
    flex-direction: column;
    width: 55%;
    align-items: center;
}
h1 {
   font-size: 48px;
   font-weight: 900;
   color: var(--common-color1);
   text-align: right;
}
.hero p{
    color:var(--common-color2);
    font-size: 18px;
    text-align: right;
}

button{
    background-color:var(--common-color4);
    color: var(--common-color2);
    border-radius: 5px;
    padding: .25rem 1.25rem;
    font-weight: 600;
    width: 130px;;
    align-items: center;;
}

.picture-one{
    width: 375px;
    height: 250px;
    padding: 15px;
}
/* Section Three */

.two{
    background-color: var(--common-color1);
    display: flex;
    justify-content: space-evenly;
}
.mini img{
    height: 50px;
    width: 50px;
}
